# Dependency directories
node_modules/
packages/*/dist/
examples/*/dist/
studio/coverage/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# Exclude client specific testscase
src/components/energyschweiz
src/components/steps/subsidies
src/Subsidies.js
