# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# Exclude client specific testscase
src/components/energyschweiz
src/components/steps/subsidies